@import "tailwindcss";

@theme {
   /* Space */
    --spacing-container: 1600px; 
    --spacing-w49: 49%; 
    --spacing-w70: 70%; 

    /* color */
    --color-first: #767676; 
    --color-second: #262626; 
    --color-third: #F5F5F3; 
    --color-fourth: #6D6D6D; 
    --color-fivth: #979797; 
    --color-sixth: #F0F0F0; 

    /* Font Family */
    --font-san: "DM Sans", ; 
  }
  .slick-dots{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
  }
  @media(min-width:320px) and (max-width:767.99px){
  .slick-dots{
  
    left: 20px;
  }

}
  @media(min-width:768px) and (max-width:1023px){
  .slick-dots{
  
    left: 20px;
  }

}

  .slick-dots ul li div{
    font-size: 16px;
    color: transparent;
    border-right: 3px solid white;
    padding-right: 12px;

  }
  .slick-dots ul .slick-active div{
    color: black;
    border-right: 3px solid black;
  }

  #newarival .slick-list{
    height: 500px;
  }

  #newarival .slick-slide{
    margin: 0 15px;
  }