@import "tailwindcss";

@theme {
   /* Space */
    --spacing-container: 1600px; 
    --spacing-w49: 49%; 

    /* color */
    --color-first: #767676; 
    --color-second: #262626; 
    --color-third: #F5F5F3; 
    --color-fourth: #6D6D6D; 
    --color-fivth: #767676; 

    /* Font Family */
    --font-san: "DM Sans", ; 
  }